
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  padding: 50px 20px;
}

form {
  background: linear-gradient(to right, #4e079b, #01090a);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto;
  color: white;
}

h1#titulo {
  text-align: center;
  margin-bottom: 15px;
}

p#subtitulo {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.1em;
}

fieldset {
  border: none;
  margin-bottom: 25px;
}

legend {
  font-weight: bold;
  font-size: 1.4em;
  padding: 0 10px;
}

.campo {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  transition: background-color 0.3s;
  color: black; /* Mudar a cor do texto para preto */
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
  background-color: rgba(255, 255, 255, 0.8);
  outline: none;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
  accent-color: #fff; /* Cor para rádio e checkbox */
}

.botao {
  background-color: #ff6f61;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s, transform 0.3s;
}

.botao:hover {
  background-color: #ff4d4d;
  transform: translateY(-2px);
}

textarea {
  resize: vertical;
  min-height: 100px;
}

/* Adicionando um efeito de animação ao botão */
.botao:focus {
  outline: none;
  box-shadow: 0 0 5px #ff6f61, 0 0 10px #ff6f61;
}